<div class="container">
	<div class="row">
		<div class="col-3">
			<h2>プロフィール</h2>
			<table class="profile-name">
				<tr><%= attachment_image_tag @user, :profile_image, :fill, 100, 100,  fallback: "no_image.jpg" %></tr>
				<tr>
					<td>名前:</td>
					<td><%= @user.name %></td>
				</tr>
			</table>

			<%= render "follow_form" %>

			<% if current_user == @user %>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				プロフィール編集
				</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">プロフィール編集</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<%= form_for(@user) do |f| %>
							<div class="modal-body">
								<%= attachment_image_tag @user, :profile_image, :fill, 90, 100, fallback: "no_image.jpg"%>
								<%= f.attachment_field :profile_image %><br>
								<lavel>名前</lavel>
								<%= f.text_field :name %>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
								<%= f.submit "変更を保存",class: "btn btn-info" %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col-9 post-favorite">

			<tabu>
			<a href="javascript:void(0);" data-tab="one" class="active">投稿一覧</a>
			<a href="javascript:void(0);" data-tab="two">いいね一覧</a>
			<div class="clear"></div>
			</tabu>

			<div class="tabContainer">
				<div id="one" class="Tabcondent active">
					<% @bikes.each do |bike| %>
						<div class="box">
							<%= attachment_image_tag bike.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
							<%= bike.user.name %><br>
							<%= link_to bike.text,bike_path(bike.id) %><br>
							<div class="row">
								<% bike.bike_images.each do |bike_image| %>
									<div class="col-6">
										<%= attachment_image_tag bike_image, :image, :fill, 250, 250, format: 'jpeg' %><br>
									</div>
								<% end %>
							</div>
							<%= bike.created_at.strftime('%Y/%m/%d/%H:%M') %><br>
							<div class="row">
								<div class="col-3">
									<%= link_to "#{bike.comments.count} コメント", bike_path(bike.id) %>
								</div>
								<div class="col-3">
									<%= render  'bikes/bikes', bike: bike %>
								</div>
							</div>
						</div>
					<% end %>
				</div>

				<div id="two" class="Tabcondent">
					<% @favorites.each do |favorite| %>
						<div class="box">
							<%= link_to user_path(favorite.bike.user) do %>
								<%= attachment_image_tag favorite.bike.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
							<% end %>
							<%= favorite.bike.user.name %><br>
							<%= link_to favorite.bike.text,bike_path(favorite.bike.id) %><br>
							<div class="row">
								<% favorite.bike.bike_images.each do |bike_image| %>
									<div class="col-6">
										<%= attachment_image_tag bike_image, :image, :fill, 250, 250, format: 'jpeg' %><br>
									</div>
								<% end %>
							</div>
							<%= favorite.bike.created_at.strftime('%Y/%m/%d/%H:%M') %><br>
							<div class="row">
								<div class="col-3">
									<%= link_to "#{favorite.bike.comments.count} コメント", bike_path(favorite.bike.id) %>
								</div>
								<div class="col-3">
									<%= render  'bikes/bikes', bike: favorite.bike %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>






