<div class="container">
	<div class="row">
		<div class="col-2">
		</div>
			<div class="col-8">
				<h2>投稿一覧</h2>

				<%= search_form_for @q  do |f| %>
					<div class="row">
						<div class="col-9">
							<div class="form-group"><%= f.text_field :text_cont, class: "form-control" %></div>
						</div>
						<div class="col3 search-action">
							<div class="fas fa-search"><%= f.submit "検索" %></div>
						</div>
					</div>
				<% end %>

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				投稿
				</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Bikers</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<%= form_for @bike do |f| %>
								<div class="modal-body">
									<h4>本文</h4>
									<%= f.text_area :text %>
									<h4>画像</h4>
									<%= f.attachment_field :bike_images_images, multiple: true %>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
									<%= f.submit '投稿',class: "btn btn-info" %>
								</div>
							<% end %>
						</div>
					</div>
				</div>

				<% @bikes.each do |bike| %>
				<div class="box">
					<%= link_to user_path(bike.user) do %>
			   			<%= attachment_image_tag bike.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %>
			   		<% end %>
				    <%= bike.user.name %><br>
					<%= link_to bike.text,bike_path(bike.id) %><br>
					<div class="row mypagetoukou">
						<% bike.bike_images.each do |bike_image| %>
						<div class="col-6">
							<%= attachment_image_tag bike_image, :image, :fill, 250, 250, format: 'jpeg' %><br>
						</div>
						<% end %>
					</div>


					<%= bike.created_at.strftime("%Y/%m/%d/%H:%M") %><br>
				    <div class="row">
				    	<div class="col-3 favorite">
				   		 <%= link_to "#{bike.comments.count} コメント", bike_path(bike.id) %>
				        </div>
				        <div class="col-3">
				  		  <%= render  'bikes/bikes', bike: bike %>
				        </div>
			    	</div>
				</div>
				<% end %>
			</div>
	</div>
</div>